.scroll-container {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

/* .scroll-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.profiles-second-column {
    flex: 1;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.profiles-details {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    width: 175px;
    height: 175px;
    margin-right: 30px;
}

